* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: lcd;
  src: url(./technology.ttf);
}

body {
  background-color: #fdffff;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
  width: 300px;
  height: fit-content;
  border-radius: 2rem;
  box-shadow: 
  0px 5px 5px rgba(255, 255, 255, 0.4) inset,
  0px -5px 5px rgba(0, 0, 0, 0.4) inset;
  display: flex;
  flex-direction: column;
  background-color: #faf7ed;
}

header {
  height: 5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem;
  text-align: right;
  color: #ff3333;
  margin: 1rem;
}

#display-information {
  display: flex;
  justify-content: space-between;
  width: 23rem;
  height: 5rem;
  text-align: center;
  font-family: lcd, sans-serif;
  font-size: 5rem;
  box-shadow: 
  0px 3px 5px rgba(255, 255, 255, 0.4),
  0px -3px 5px rgba(0, 0, 0, 0.4);
  background-color: rgb(165, 172, 179);
  margin: auto;
  color: #282735;
}

.subtext {
  width: 1rem;
  height: 1rem;
}

#subtext {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}

#buttons {
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 2rem;
  font-weight: bold;
  gap: 1rem;
}

.button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 
  0px 5px 5px rgba(255, 255, 255, 0.4) inset,
  0px -5px 5px rgba(0, 0, 0, 0.4) inset;
  text-align: center;
  width: 6rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #282735;
  color: #faf7ed;
  transition: box-shadow 0.2s;
}

.button:active {
  box-shadow: 
  0px 8px 5px rgba(255, 255, 255, 0.4) inset,
  0px -8px 5px rgba(0, 0, 0, 0.4) inset;
}

.plus-button {
  grid-area: 5/4/7/5;
  background-color: #ff3333;
}

.on {
  font-size: 1.5rem;
  border-radius: 3rem;
  background-color: #ff3333;
}

.memory {
  border-radius: 3rem;
}

.number,
.operand {
  font-size: 2.5rem;
}